.card {
    &-item {
        &-container{
            width: 85%;
            height: 5em;
        }
        &-text {
            font-size: 1.6em;
            color: $theme-dark-green;
            &-sub {
                color: #d6d6d6;
            }
        }
    }
    &-last-item {
        margin: 0 0 0 auto;
    }
}