.card-page {
    &-container {
        height: 75%;
        width: 65%;
        border: $theme-light-green 0.1em solid;
        border-radius: 0.8em;
        box-shadow: 0.2em 0.2em 2em $theme-brown;
        background: $theme-midnight-blue;
        z-index: 1;
    }
    &-header {
        margin: 1em 0 0.5em;
        font-size: 3.6em;
        color: white;
    }
    &-content {
        width: 75%;
        & > .validation-input-container {
            margin: 0.5em 0;
        }
    }
    &-footer {
        margin: 3em 2em 3em auto;
        justify-content: flex-end;
    }
}

.split-page {
    &-header {
        &-container {
            margin: 1em auto 0 40px;
        }
        &-underline {
            margin: 0.25em 0 1em;
            width: auto;
            height: 3px;
            background: $theme-light-green;
            border-radius: 2px;
        }
        font-size: 2.4em;
        color: $theme-light-green;
    }
    &-container {
        height: 75vh;
    }
    &-left-section {
        margin: 0 auto 0 4em;
        width: 60%;
        border: $theme-light-green 0.1em solid;
        border-radius: 0.8em;
        z-index: 1;
        background: $theme-midnight-blue;
        overflow-y: scroll;
    }
    &-divider {
        margin: auto;
        width: 3px;
        height: 90%;
        background: $theme-dark-green;
        border-radius: 2px;
    }
    &-right-section {
        margin: 0 4em 0 auto;
        width: 30%;
        border: $theme-light-green 0.1em solid;
        border-radius: 0.8em;
    }
}