// Global SCSS variables and classes to be used across the entire project
$theme-dark-green: #41836e;
$theme-light-green: #40d7bc;
$theme-brown: #4e3b42;
$theme-midnight-blue: #29293a;
$theme-wheat: #bf8e60;

.flex {
    display: flex;
    &-center {
        align-items: center;
        justify-content: center;
    }
    &-horizontal-center {
        justify-content: center;
    }
    &-vertical-center {
        align-items: center;
    }
    &-column {
        flex-direction: column;
    }
    &-1 {
        flex: 1 1 0;
    }
    &-grow {
        flex-grow: 1;
    }
}
  
.full {
    &-height {
        height: 100%;
    }
    &-width {
        width: 100%;
    }
}